<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cours">
            <h2><span jhiTranslate="planningApp.cours.detail.title">Cours</span> {{ cours.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="planningApp.cours.titre">Titre</span></dt>
                <dd>
                    <span>{{ cours.titre }}</span>
                </dd>
                <dt><span jhiTranslate="planningApp.cours.pdf">Pdf</span></dt>
                <dd>
                    <div *ngIf="cours.pdf">
                        <a (click)="openFile(cours?.pdfContentType!, cours?.pdf)" jhiTranslate="entity.action.open">open</a>
                        {{ cours.pdfContentType }}, {{ byteSize(cours.pdf) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="planningApp.cours.dateAjout">Date Ajout</span></dt>
                <dd>
                    <span>{{ cours.dateAjout }}</span>
                </dd>
                <dt><span jhiTranslate="planningApp.cours.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of cours.users; let last = last">
                        {{ user.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_USER']"
                    [routerLink]="['/cours', cours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
