<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cours-heading" jhiTranslate="planningApp.cours.home.createOrEditLabel">Create or edit a Cours</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="planningApp.cours.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="planningApp.cours.pdf" for="field_pdf">Pdf</label>
                    <div>
                        <div *ngIf="editForm.get('pdf')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('pdfContentType')!.value, editForm.get('pdf')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('pdfContentType')!.value }}, {{ byteSize(editForm.get('pdf')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({pdf: null});editForm.patchValue({pdfContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_pdf" (change)="setFileData($event, 'pdf', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="pdf" id="field_pdf"
                           formControlName="pdf"/>
                    <input type="hidden" class="form-control" name="pdfContentType" id="field_pdfContentType"
                           formControlName="pdfContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="planningApp.cours.dateAjout" for="field_dateAjout">Date Ajout</label>
                    <div class="d-flex">
                        <input id="field_dateAjout" type="datetime-local" class="form-control" name="dateAjout" formControlName="dateAjout" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateAjout')!.invalid && (editForm.get('dateAjout')!.dirty || editForm.get('dateAjout')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateAjout')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateAjout')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="planningApp.cours.user" for="field_users">User</label>
                    <select class="form-control" id="field_users" multiple name="users" formControlName="users">
                        <option [ngValue]="getSelected(editForm.get('users')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
