<div>
    <h2 id="page-heading">
        <span jhiTranslate="planningApp.eleve.home.title">Eleves</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-eleve" [routerLink]="['/eleve/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="planningApp.eleve.home.createLabel">
            Create a new Eleve
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="eleves?.length === 0">
        <span jhiTranslate="planningApp.eleve.home.notFound">No eleves found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="eleves?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="planningApp.eleve.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="planningApp.eleve.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="planningApp.eleve.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="planningApp.eleve.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="planningApp.eleve.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="planningApp.eleve.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="planningApp.eleve.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="classe"><span jhiTranslate="planningApp.eleve.classe">Classe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="planningApp.eleve.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eleve of eleves ;trackBy: trackId">
                    <td><a [routerLink]="['/eleve', eleve.id, 'view']">{{ eleve.id }}</a></td>
                    <td>
                        <a *ngIf="eleve.photo" (click)="openFile(eleve.photoContentType, eleve.photo)">
                            <img [src]="'data:' + eleve.photoContentType + ';base64,' + eleve.photo" style="max-height: 30px;" alt="eleve image"/>
                        </a>
                        <span *ngIf="eleve.photo">{{ eleve.photoContentType }}, {{ byteSize(eleve.photo) }}</span>
                    </td>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>{{ eleve.adresse }}</td>
                    <td>{{ eleve.email }}</td>
                    <td>{{ eleve.mobile }}</td>
                    <td>{{ eleve.dateNaissance | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'planningApp.Classe.' + eleve.classe }}">{{ eleve.classe }}</td>
                    <td>
                        {{ eleve.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/eleve', eleve.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/eleve', eleve.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(eleve)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="eleves?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
